@import './template.scss';
@import '../../common.scss';
.floor_img_single_biserial{
    display: flex;
    flex-direction: column;
    &_h1{
        font-size: 36px;
        display: flex;
        padding-top:6px;
        padding-bottom: 6px;
        margin-bottom: 24px;
        font-weight: bold;
    }
    &_row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 24px;
        
    }
    
    &_item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        flex:0 0 335px;
    }
    &_text{
        overflow: hidden;
        min-width: 0;
        margin-top:16px;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: flex-start;
        overflow: hidden;
        width: 100%;
    }
    &_title{
        font-size: 28px;     
        color:#333;
        line-height: 40px;
        display: flex;
       /*  #ifndef  rn  */
       @include singleline-ellipsis;
       /*  #endif  */
    }
    &_subtitle{
        font-size: 24px;     
        color:#999;
        display: flex;

       /*  #ifndef  rn  */
       @include singleline-ellipsis;
       /*  #endif  */
    }
}


