@import '../../common.scss';
.page_index {
  flex-direction: column;
  width: 100%;
  background-color: white;

}

// .test{

//   white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
    
// }
// .test_con{
//   align-self: flex-start;
//   max-width: 100%;
//   overflow: hidden;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   box-sizing: border-box;
 
//   border: 1px solid black;
//   height: 50px;
//   background-color: white;
 
// }

